.arival {
    display: flex;
    background-color: #E4E1D9;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    h1 {
        font-size: 30px;
        font-family: open sans-serif;
    }


    .main-carousel {
        margin: 0 auto;
    }

    .flickity-page-dots {
        display: none;
    }

    .flickity-prev-next-button.previous {
        left: -40px;
    }

    .flickity-prev-next-button.next {
        right: -40px;
    }


    a {
        background-color: #2F2B23;
        border-radius: 25px;
        padding: 10px 15px;
        color: #FFF;
        font-size: 16px;
    }

    .left-btn {
        display: inline;
    }

    .bottom-btn {
        display: none;
    }

    .flickity-viewport {
        height: 270px !important;
    }

    .product {
        width: clamp(140px, 20vw, 240px);
        height: clamp(160px, 20vw, 260px);
        margin: 0 20px;
        text-align: center;


        .product-img {

            img {
                width: clamp(140px, 20vw, 240px);
                height: clamp(140px, 20vw, 240px);
                object-fit: cover;
                border-radius: 30px;
                transition: ease 500ms;
            }

            .product-name {
                position: absolute;
                right: 20px;
                top: 20px;
                background-color: #F4F5F6;
                padding: 10px 20px;
                color: #000;
                border-radius: 25px;
                transition: ease 500ms;
            }
        }

        .product-detail {
            h2 {
                font-size: 20px;
                font-family: Asap;
                color: #2F2B23;
            }
        }

    }
}

@media only screen and (max-width:786px) {
    .arival {

        h1,
        p {
            text-align: center;
        }

        .flickity-prev-next-button.previous {
            display: none;
        }

        .flickity-prev-next-button.next {
            display: none;
        }


        .main-carousel {
            margin: 0;
        }

        .left-btn {
            display: none;
        }

        .bottom-btn {
            display: inline;

        }

        .flickity-viewport {
            height: 200px !important;
        }
    }
}
