* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import '../css/scss/header';
@import '../css/scss/banner';
@import '../css/scss/trending';
@import '../css/scss/value';
@import '../css/scss/arival';
@import '../css/scss/about';
@import '../css/scss/shop';
@import '../css/scss/theme';
@import '../css/scss/customer';
@import '../css/scss/gram';
@import '../css/scss/blog';
@import '../css/scss/form';
@import '../css/scss/footer';